[submodule "bronchinet"]
	path = bronchinet
	url = https://github.com/id-b3/bronchinet.git
	branch = imalife
[submodule "opfront"]
	path = opfront
	url = https://bitbucket.org/id-b3/opfront.git
[submodule "playground"]
	path = playground
	url = git@bitbucket.org:id-b3/playground.git
[submodule "legacy"]
	path = legacy
	url = git@bitbucket.org:id-b3/legacy.git
