[submodule "bronchinet"]
	path = bronchinet
	url = https://github.com/id-b3/bronchinet.git
	branch = imalife
[submodule "opfront"]
	path = opfront
	url = https://bitbucket.org/id-b3/opfront.git
[submodule "AirMorph"]
	path = AirMorph
	url = https://github.com/id-b3/AirMorph
[submodule "airflow_legacy"]
	path = airflow_legacy
	url = https://github.com/id-b3/airflow_legacy.git
